@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

html{
    height: 100%;
}
body{
    background: #E2E4E7;
      padding: 0;
      text-align: center;

      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
/*==============================================*/

/*===============================================*/
.back{
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 100%;
      text-align: center;
      padding: 7px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      font-size: 13px;
      color: #000;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      text-decoration: none;
}
.rehide{
    position: absolute;
    top: 0;
    right: 0;
    border:0;
}
.back:hover{
    color: black;
    background: rgba(255, 255, 255, 0.5);
}
footer{
    background-color: dimgray;
    overflow: hidden;
}
footer p{
    text-align: center;
    font-weight: 100;
    font-size: small;
}
/*===========================*/
.container{
    width: 100%;
    height: auto;
    padding: 10px 0px;
}
.home{
    width: 100%;
    height: 100%;
    background: url(../images/header.jpg);
    background-size: cover;
    /*padding-top: 80px;
    margin-bottom: 0px;*/
    overflow: hidden;
    text-align: center;
    align-items: center;
}
.home h1{
    font-family: "mark my words";
    font-weight: 500;
    font-size: 60px;
    color: #F96;
    display: block;
    text-shadow: 5px 5px 5px #333;
    opacity: 1.0;
    padding: 15px;
    margin: 50px;
}
.about{
    width: 100%;
    height: 100%;
    background: url(../images/about.jpg);
    background-size: cover;
    overflow: hidden;
    text-align: center;
    align-items: center;
   /*margin: 0px;
    padding: 10px 10px;
    /*min-height: 800;
    background-color: gainsboro;
    text-align: center;
    align-items: center;
    overflow: hidden;*/
}
.about .container .h1{
    padding: 5px 5px;
}
/*.satu{
    display: flex;
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.about .container .satu .left{
    width: 50%;
    overflow: hidden;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}
.about .container .satu .right{
    width: 50%;
    overflow: hidden;
}*/
.about .left img{
    max-width: 300px;
    max-height: 300px;
    margin-top: 55px;
    margin-bottom: 55px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.about .left p{
    font-family: 'mark my words';
    border: 5px solid #868D8F;
    border-radius: 10px;
    margin: 10px 35px;
    padding: 5px;
    box-shadow: 5px 5px 5px #333;
}
.contact{
    width: 100%;
    height: 100%;
    background:url(../images/contact.jpg);
    background-size: cover;
    text-align: center;
    padding: 5px 5px;
    overflow: hidden;
}
.contact h1{
    padding-top: 5px;
}
.portofolio{
    text-align: center;
    background:url(../images/portofolio1.jpg);
    image-rendering: optimizeQuality;
    background-size: cover;
    padding: 5px 5px;
}
.portofolio-list{
    padding-top: 10px;
    overflow: hidden;
    column-count: 4;
    column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
}
.boxed {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    margin: 5px 10px;
    overflow: hidden;
    column-break-inside:avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    color: currentColor;
}
.btn {
  background: #D1C7A2;
  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);*/
  background-image: linear-gradient(to bottom, #D1C7A2, #D1C7A2);
  font-family: 'Roboto';
  border-radius: 0px 15px 0px 15px;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  opacity: 0.8;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #D8CEB7, #D1C7A2);
  background-image: -moz-linear-gradient(top, #D8CEB7, #D1C7A2);
  background-image: -ms-linear-gradient(top, #D8CEB7, #D1C7A2);
  background-image: -o-linear-gradient(top, #D8CEB7, #D1C7A2);
  background-image: linear-gradient(to bottom, #D8CEB7, #D1C7A2);
  text-decoration: none;
}
/*Contac form
==============================*/
.container_form {
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] { font:400 12px/16px "Roboto", Helvetica, Arial, sans-serif; }

#contact {
    opacity: 0.7;
    background:#F9F2D2;
    padding:25px;
    margin:50px 0;
}
#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}
#contact h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}
fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:5px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}
#contact textarea {
    height:50px;
    max-width:100%;
  resize:none;
}
#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#0CF;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}
#contact button[type="submit"]:hover {
    background:#09C;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active
{ box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
#contact input:focus, #contact textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

